/* Navbar styles */
.navbar {
  background-color: var(--dark-background); /* Unified background */
  color: var(--primary); /* Unified text color */
  padding: 1rem;
  position: fixed; /* Fixed position */
  top: 0;
  left: 0;
  right: 0;
  height: 64px; /* Fixed height */
  z-index: 1000; /* Ensure navbar is above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for visibility */
  display: flex;
  align-items: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure container takes full width */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.logo-image {
  height: 50px;
}

.nav-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu a {
  color: var(--primary);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--text-blue);
}

/* Sign Up / Sign In Buttons */
.auth-buttons {
  margin-left: 20px;
}

.btn-signup,
.btn-signin {
  padding: 8px 16px;
  background: linear-gradient(135deg, rgba(0, 70, 200, 0.8), rgba(30, 70, 220, 0.8)); /* Use background for gradients */
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.btn-signup:hover,
.btn-signin:hover {
  background: var(--text-blue); /* Use solid color on hover */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 64px; /* Adjusted to match navbar height */
    left: 0;
    background-color: var(--dark-background);
    width: 100%;
    height: calc(100vh - 64px); /* Adjusted to account for navbar height */
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }

  .nav-menu.active {
    transform: translateY(0);
  }

  .nav-menu li {
    margin: 20px 0;
  }

  .nav-menu a {
    font-size: 1.2rem;
    padding: 10px;
  }

  .logo {
    font-size: 1.2rem;
  }

  /* Mobile Sign Up / Sign In Buttons */
  .mobile-auth-buttons {
    margin-top: 20px;
  }

  .btn-signup-mobile,
  .btn-signin-mobile {
    padding: 12px 24px;
    background: blue; /* Use solid color for mobile buttons */
    color: #fff;
    font-size: 1.1rem;
    border-radius: 4px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
  }

  .btn-signup-mobile:hover,
  .btn-signin-mobile:hover {
    background: var(--text-white); /* Use solid color on hover */
  }
}